
button {
  &:focus {
    outline: none;
    background-color: #5390d9;
  }


  // background-color: black;
}

button:active {
  translate: scale(1.2);
}

.app-container{
  // display: flex;
  // width: 200vw;
}