@import './variables.scss';

.drums-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $outer-circle-size;
  // border: 3px solid red;
}