@import './variables.scss';

.drums-container {
  position: relative;
}


.drumpad-wrapper {
  z-index: 1;
  transform: translateY(-50px) rotate(180deg);
}

.drums-controls {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  height: 500px;
  width: 100%;
}

.slider-wrapper {
  width: 100px;
}

