@import './variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Arial";
}

body {
  background-color: rgb(80, 80, 80);
  height: 200vh;
  width:200vw;
  flex-direction: column;
  justify-content: center;
}