@import "./variables.scss";

$size-ratio: 100vw / 100vh * 1px;
$panel-height: 150px;

$n-rows: 22;
$n-cols: 33;

$note-height: 100vh / $n-rows;
$note-width: 100vw/ $n-cols;

.container {
  // position: relative;
  // flex-basis: 100%;
  background: #979090;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  // border: 3px solid rgba(255, 0, 0, 0.39);

  * {
    // border: 1px solid rgba(0, 0, 0, 0.295);
  }
}

.top-panel {
  display: flex;
  // flex-basis: 50%;
  height: $panel-height;
  // background-color: nth($color-scheme3, 4);
}

.controls {
  display: flex;
  flex-direction: column;
  // width: $panel-height * 2;
}

.play-button {
  // color: red;
  height: $panel-height;
  width: $panel-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100px;
  height: 100px;
  // border:3px solid yellow;
  overflow: visible;

  path {
    transform: scale(4);
    stroke: #C8C8C8;
  }
}

.third-height {
  height: $panel-height /3;
  border: 1px solid rgba(255, 255, 255, 0.418);

}

.tempo {
  width: $panel-height;
}

.tempo-nudge {
  width: $panel-height;
}

.piano-roll {
  height: 100%;
  // border: 3px solid rgba(0, 255, 34, 0.623);
  display: flex;
  overflow-y: scroll;
  width: 1fr;
}

.piano {
  width: 50px;
  height: max-content;
  border-right: 2px solid rgba(255, 255, 255, 0.349);
  color: #C8C8C8;
}

.sequencer {
  // border: 3px solid blue;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(32, minmax(40px, auto));
  // grid-auto-columns: 60px;
  // flex-direction: column;

  // >:nth-of-type(4n) {
  //   border-right: 1px solid #C8C8C8;
  //   // position: absolute;
  // }
  >:nth-of-type(8n) {
    border-right: 1px solid #C8C8C8;
    // position: absolute;
  }
  >:nth-of-type(16n) {
    border-right: 2px solid #C8C8C8;
    // position: absolute;
  }
  * {
    color: rgba(255, 255, 255, 0); //! TRANSPARENT FONT COLOR!!
  }
}