@import './variables.scss';

.scales-container {
  display: flex;
  height: 100%;
  background: $grid-color;
  left: 0;
  z-index: 2;
}

.scales-modes-container {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 150px;
}

.list-item {
  color: $grid-color-dark;
}

.scales-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  writing-mode: vertical-lr;
  background: rgb(71, 63, 63);
  color: $grid-color;
  padding: 25px 0;
  font-weight: 500;
  border: 1px solid $grid-color;
}

.scales {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: 50px;
}


.modes {
  height: auto;
  display: grid;
  align-content: stretch;
  flex-grow: 1;
}