@import './variables.scss';

input {
  background-color: #56cfe1;
  color: rgba(0, 0, 0, 0.473);

  top: 100%;
  width: 100%;
  height: 85%;
  z-index: 1;

  &.circle{
    border-radius: 50%;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #5390d9;
  }

  transition: transform 100ms;

  &.triggered {
    transform: scale(1.1);
    background-color: #6930c3;
  }
}


.active {
  background: #5e60ce;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 66px;
  // border: 1px solid rgba(0, 0, 255, 0.514);
  height: $outer-circle-size/5;

  &.circle {
    transform: translateX(-50%);
  }
}

#center-marker {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.521);
}