@import './variables.scss';

input {
  color: rgba(255, 255, 255, 0.473);
  // padding: 5px 0;
  width: 100%;
  z-index: 1;

  &.grid {
    color: $grid-color-dark;
    // background-color: #30292f;
    height: 100%;
    border: 1px solid #C8C8C8;
    // transform-origin: center;

    &.yellow {
      &.active {
        background: $yellow;
      }

      &.triggered {
        background: $yellow-light;
        z-index: 2;
      }
    }

    &.red {
      &.active {
        background: $red;
      }

      &.triggered {
        background: $red-light;
      }
    }

    &.triggered {
      transform: scale(1.3);
    }

    // &:active {
    //   background-color: $yellow-dark;
    // }
  }

  &.circle {
    background-color: #56cfe1;
    top: 100%;
    height: 85%;
    border-radius: 50%;
    border: none;

    &.triggered {
      transform: scale(1.3);
      background-color: #9ac0f0;
    }

    &:active {
      background-color: #5390d9;
    }
  }

  &:focus {
    outline: none;
  }


  transition: transform 100ms linear,
  background-color 50ms linear;

  &.active {
    background: #5e60ce;
  }
}




.button-wrapper {
  // background-color: red;
  // height: 66px;
  // border: 1px solid rgba(0, 0, 255, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;

  // background: red;

  &.circle {
    height: $outer-circle-size/5;
    transform: translateX(-50%);
  }
}