@import './variables.scss';

input {
  background-color: #56cfe1;
  color: rgba(0, 0, 0, 0.473);

  width: 100%;
  z-index: 1;

  &.grid {
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.466);
  }

  &.circle {
    top: 100%;
    height: 85%;
    border-radius: 50%;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #5390d9;
  }

  transition: transform 100ms;

  &.triggered {
    transform: scale(1.1);
    background-color: #6930c3;
  }
}


.active {
  background: #5e60ce;
}

.button-wrapper {
  // background-color: red;
  // height: 66px;
  // border: 1px solid rgba(0, 0, 255, 0.514);
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;

  &.circle {
    height: $outer-circle-size/5;
    transform: translateX(-50%);
  }
}