@import './variables.scss';

.pattern-container {

  position: relative;
  width: $panel-height*2;
  border: 1px solid $grid-color;
  color: $grid-color;
  display: flex;
  place: center;
  &.yellow {
    background-color: $yellow;
    color: $grid-color-dark;
  }

  &.red {
    background-color: $red;
    color: #EFEFEF;
  }

  p {
    padding: 20px;
  }
}

.pattern-actions-container {
  position:absolute;
  right: 0;
  top: 0;
  min-width: $button-size;
  display: grid;
  grid-template-columns: repeat(2, $button-size);
  grid-template-rows: repeat(2, auto);
  flex-direction: column;
  align-items: flex-end;
  height: 100%;

  &.selected{
    background: #a8a8a8;
  }
}

.pattern-action {
  padding: 0;
  border-radius:0;
  max-width: $button-size;
  max-height: $button-size;
  flex-grow: 1;
}

