@import './variables.scss';


.play-button {

  &.grid {
    // color: red;
    height: $panel-height;
    min-width: $panel-height;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grid-color;

    svg {
      width: 100px;
      height: 100px;
      // border:3px solid yellow;
      overflow: visible;

      path {
        transform: scale(4);
        fill: #C8C8C8;
      }
    }
  }

  &.circle {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #5E60CE;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .pause-icon{
      transform: scale(0.3);
    }

    svg {
      width: 90px;
      height: 90px;
      // border:1px solid yellow;
      overflow: visible;
      // x: 30;

      path {
        transform: scale(3.7);
        // left: 50px;
        stroke: #56cfe1;
        fill:#56cfe1;
      }
    }

    &.active {
      background-color: #5390d9;
    }

    &.inatctive {}

  }
}