@import "./variables.scss";


.piano-roll {
  height: 100%;
  // border: 3px solid rgba(0, 255, 34, 0.623);
  display: flex;
  overflow-y: scroll;
  width: 100%;
}

.piano {
  width: 50px;
  height: max-content;
  border-right: 2px solid rgba(255, 255, 255, 0.349);
  color: $grid-color;
}

.sequencer {
  // border: 3px solid blue;
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(32, auto);
  // grid-auto-columns: 60px;
  // flex-direction: column;

  // >:nth-of-type(4n) {
  //   border-right: 1px solid $grid-color;
  //   // position: absolute;
  // }
  >:nth-of-type(4n) {
    border-right: 1px solid $grid-color-dark;
    // position: absolute;
  }

  >:nth-of-type(16n) {
    border-right: 2px solid $grid-color;
    // position: absolute;
  }

  * {
    color: rgba(255, 255, 255, 0); //! TRANSPARENT FONT COLOR!!
  }
}