@import "./variables.scss";


.piano-roll {
  position:relative;
  height: 100%;
  display: flex;

  overflow-y: scroll;
  width: 100%;
}

.piano {
  position:relative;
  height:100%;
  width: 50px;
  display: flex;
  border-right: 2px solid rgba(255, 255, 255, 0.349);
  color: $grid-color;
}

.sequencer {
  height: max-content;
  width: 100%;
  height:100%;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(32, auto);
  align-content: stretch;


  >:nth-of-type(4n) {
    border-right: 1px solid $grid-color-dark;
  }

  >:nth-of-type(16n) {
    border-right: 2px solid $grid-color;
  }

  * {
    color: rgba(255, 255, 255, 0);
  }
}