@import './variables.scss';

.session-link-btn {
  display: flex;
  justify-content: center;
  position: relative;
  height: $button-size;
  color: black;
}

.session-link-container {
  position: absolute;
  left: 50px;
  top: 50px;
  width: $button-size * 4;
  height: $button-size;
  font-weight: 600;
  color: rgb(36, 221, 36);
}

.session-link{
  // position: absolute;
  // left: 0;
  // top: 0;
  // z-index: -1;
  // opacity: 0.01;
  // textarea {
  //   height: 0;
  // }

}