@import './variables.scss';

// .circle {
//   position: absolute;
//   // left: 5;
//   // height: 50vh;
//   width: $outer-circle-size;
//   height: $outer-circle-size;
//   transform-origin: center top;

//   border-radius: 50%;
//   // transform: translate(50%, 50%);
//   // border: 10px solid rgba(0, 0, 0, 0.5);
// }

.rot-cont {
  position: absolute;
  transform-origin: 0% 0%;

  // border: 1px solid red;
  left: 50%;
  height: $outer-circle-size;
  // width: 5px;
}

input {
  position: absolute;
  border: transparent;
  // background-color: rgba(155, 155, 155, 0.288);
  color: rgba(0, 0, 0, 0.473);
  border-radius: 50%;
  top: 100%;
  width: 20px;
  height: 20px;
  // left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &:focus {
    outline: none;
  }

  &:active {
    background-color: rgba(120, 137, 141, 0.664);
  }
}

.active {
  background: rgb(120, 137, 141);
}


#center-marker {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.521);
}