.step {

  &.circle {
    display: flex;
    position: absolute;
    flex-direction: column-reverse;
    transform-origin: 0% -50px;
    // transform: rotate(180deg) translateY(0, 50px);
    // border: 1px solid red;
    left: 50%;
    // height: 100%;
    width: 0px;
  }

  &.grid {
    display: grid;
    // justify-content: center;
    grid-template-rows: repeat(auto-fill, auto);
    // width: 50px;
    // border: 1px solid rgba(0, 0, 255, 0.322);
  }
}
