.step {

  &.circle {
    display: flex;
    position: absolute;
    flex-direction: column;
    transform-origin: 0% -50px;
    left: 50%;
    width: 0px;
  }

  &.grid {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(auto-fill, auto);
    position:relative;
    .button-wrapper:nth-of-type(7n+1) {
      background-color: #f1ee55de;
    }
  }
}
