@import "./variables.scss";



.container {
  position: relative;
  background: $grid-color-dark;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 80vw;
  border: 1px solid $grid-color;
  width:100%;
  * {
  }
}

.top-panel {
  display: flex;
  height: $panel-height;
}

.controls-container {
  display: flex;
  flex-direction: column;
  border: 1px solid $grid-color;
  width: 100%;
}


.third-height {
  height: $panel-height /3;
}

.tempo {
  width: $panel-height;
}

.tempo-nudge {
  width: $panel-height;
}

.side-panel_left {
  position: relative;
  width: 224px;
}

.main-panel {
  height:100%;
  display: flex;
  overflow: hidden;
}

.bottom-panel {
  flex: 1;
  position: relative;
  display: flex;
}