@import './variables.scss';

.pattern-container {
  height: 100%;
  width: $panel-height*2;
  border: 1px solid $grid-color;
  color: white;

}

.timeline-container {
  display: flex;
}

.add-pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid $grid-color;
}