@import './variables.scss';



.timeline-container {
  display: flex;
  max-height: $button-size*2;
}

.add-pattern {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid $grid-color;
  border-right: 2px solid $grid-color;
}

svg path {
  fill: $grid-color;
  stroke: $grid-color;
}