#playPause {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #56cfe1;
  color: rgba(0, 0, 0, 0.473);
  left: 50%;
  transform: translate(-50%, -50%);

  // border: none;

  &.active {
    background-color: #5390d9;
  }

  &.inatctive {}

}

button {
  &:focus {
    outline: none;
    background-color: #5390d9;
  }


  // background-color: black;
}

button:active {
  translate: scale(1.2);
}