@import './variables.scss';

.drums-container {
  position: relative;
  // border: 3px solid blue;
}

.drumpad-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $outer-circle-size;
  // border: 3px solid red;
}

.drumpad-wrapper {
  transform: translateY(-50px) rotate(180deg);
}

.drums-controls {
  display: flex;
  flex-direction: row-reverse;
  // border: 3px solid orange;
  position: absolute;
  height: 500px;
  width: 100%;
}

.slider-wrapper {
  width: 100px;
  // border: 3px solid green;
}

#playPause {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #56cfe1;
  color: rgba(0, 0, 0, 0.473);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.active {
    background-color: #5390d9;
  }

  &.inatctive {}

}