@import './variables.scss';

.drums-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $outer-circle-size;
  // border: 3px solid red;
  // transform: translateY(-50%);
  background-color: rgba(211, 211, 211, 0.137);
  z-index: -1;
}



